* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body.dark {
    background-color: rgba(0, 0, 0, 0.904);
    transition: 0.5s;
}

.Menu {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Idioma {
    padding: 0px 20px 0px;

}

.Idioma img:hover {
    box-shadow: #0A67C2 0px 54px 55px, #0A67C2 0px -12px 30px, #0A67C2 0px 4px 6px, #0A67C2 0px 12px 13px, #0A67C2 0px -3px 5px;

}

.Idioma.dark img {
    box-shadow: #0A67C2 0px 54px 55px, #0A67C2 0px -12px 30px, #0A67C2 0px 4px 6px, #0A67C2 0px 12px 13px, #0A67C2 0px -3px 5px;
}

.Idioma img {
    width: 50px;
}

.links ul,
li {
    display: flex;
}

.links li {
    padding: 20px;
}

.links.dark a {
    color: white;
}

.links a {
    font-size: 18px;
    color: black;
    text-decoration: none;
    transition: 0.5s;
}

.links a:hover {
    color: #0A67C2;
}

.right {
    display: flex;
    margin-right: 20px;
}

.contact {
    margin-right: 20px;
}

.contact.dark button {
    background-color: #0A67C2;
    color: white;
    box-shadow: #0A67C2 0px 54px 55px, #0A67C2 0px -12px 30px, #0A67C2 0px 4px 6px, #0A67C2 0px 12px 13px, #0A67C2 0px -3px 5px;
}

.contact button {
    width: 90px;
    height: 25px;
    border: 1px solid #0A67C2;
    border-radius: 50px;
    cursor: pointer;
    background-color: white;
    font-weight: bold;
}

.contact button:hover {
    box-shadow: #0A67C2 0px 54px 55px, #0A67C2 0px -12px 30px, #0A67C2 0px 4px 6px, #0A67C2 0px 12px 13px, #0A67C2 0px -3px 5px;
    background-color: #0A67C2;
    color: white;
}

.darkLigth i {
    cursor: pointer;
}

/*****************menuPart2**************************/

.menuPart2 {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.devFront span {
    font-size: 80px;
    font-weight: bold;
    color: black;
    transition: 0.5s;
}

.devFront.dark span {
    color: white;
}

.devFront span:hover {
    color: #0A67C2;
}

.description p {
    color: black;
    font-size: 20px;
    transition: 0.5s;
    margin: 20px;
}

.description p:hover {
    color: #0A67C2;
}

.description.dark p {
    color: white;
}

.description.dark p:hover {
    color: #0A67C2;
}


.tags span {
    font-size: 16px;
    font-weight: bold;
    color: #0A67C2;
}

.tags.dark span {
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: rgba(255, 255, 255, 1);
    text-decoration: normal;
    text-align: center;
    -o-text-overflow: clip;
    text-overflow: clip;
    white-space: pre;
    text-shadow: 0 0 10px #0A67C2, 0 0 20px #0A67C2, 0 0 30px #0A67C2, 0 0 40px #0A67C2, 0 0 70px #0A67C2, 0 0 80px #0A67C2, 0 0 100px #0A67C2;
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

.bntCv {
    margin: 20px;
}

.bntCv button {
    width: 100px;
    height: 25px;
    border: none;
    border-radius: 20px;
    background-color: #0A67C2;
}

.bntCv a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/***************AboutMe***************************************/

.aboutMe {
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.aboutMeSection {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1050px;
    height: 450px;
    max-width: 1050px;
    min-width: 50px;
    background-color: #EEEEEE;

}

.aboutMeSection.dark {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    box-shadow: #0A67C2 0px 22px 70px 4px;
}

.textInformation {
    max-width: 600px;
    min-width: 50px;
}

.informationAboutMe {
    margin: 0px 40px 0px;
}


.whoim span {
    font-size: 20px;
    color: #0A67C2;
    font-weight: bold;
}


.moreInformation span {
    font-size: 25px;
    color: black;
    font-weight: bold;
}

.moreInformation.dark {
    color: white;
}

.moreInformation p {
    font-size: 14px;
    color: #949494;
}

.moreInformation.dark span {
    color: white;
}

.textInformation {
    margin-top: 20px;
}

.textInformation.dark span {
    color: white;
}

.myPic img {
    width: 300px;
}

/***********************Skill************************/

.MySkill {
    padding-top: 50px;
    width: 100%;
    height: 500px;
}

.spanSkill {
    width: 100%;
    height: 100px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.spanSkill span {
    font-size: 80px;
}

.spanSkill span:hover {
    color: #0A67C2;
}

.spanSkill.dark {
    color: white;
}

.informationText {
    margin-top: 20px;
}

.informationText span {
    font-size: 16px;
    color: black;
    font-weight: bold;
}

.informationText span:hover {
    color: #0A67C2;
}

.informationText.dark span {
    color: white;
}

.informationText p {
    width: 300px;
    margin-top: 10px;
}

.icons {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.icons1 {
    display: flex;
}

.html,
.css,
.JS,
.React {
    margin: 20px;
}

.html.dark span,
.css.dark span,
.JS.dark span,
.React.dark span {
    color: white;
}

.html.dark p,
.css.dark p,
.JS.dark p,
.React.dark p {
    color: white;
}

.icons {
    margin-top: 80px;
}

/**************Resposividade*****************/

@media screen and (Max-width: 1000px) {
    .devFront span {
        font-size: 50px;
    }

    .description p {
        font-size: 15px;
    }

    .tags span {
        font-size: 12px;
    }

    .aboutMeSection {
        width: 850px;
        height: 350px;
    }

    .myPic img {
        width: 200px;
        margin-left: 30px;
    }

    .textInformation span {
        font-size: 10px;
    }
.icons{
    height: 550px;
}
    .icons, .icons1 {
        display: flex;
        flex-direction: column;
    }

.html span ,
.css span,
.JS span,
.React span{
    font-size: 15px;
}

.html p,
.css p,
.JS p,
.React p {
font-size: 10px;
}

.spanSkill  span {
    font-size: 50px;
}

}


@media screen and (Max-width: 700px) {

    .Menu {
        margin: 30px 0px 0px;
        display: flex;
        flex-direction: column;
    }

    .contact {
        margin-right: 20px;
    }

    .links a {
        font-size: 15px;
    }

    .right {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .devFront span {
        font-size: 25px;
    }

    .description p {
        font-size: 8px;
    }

    .tags span {
        font-size: 10px;
    }

    .aboutMeSection {
        width: 100%;
        height: 400px;
        display: flex;
        flex-direction: column;
    }

    .myPic {
        display: none;
    }

    .aboutMe {
        height: 500px;
    }

.spanSkill span {
    font-size: 25px;
}

}